* {
	padding: 0;
	margin: 0px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}


body {
	/*font: 12px "微软雅黑" arial;*/
}

.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}
.div_center{
	
	margin: 0 auto;
}
.brcw{
	background: red;
	color: white;
}
/*那个小箭头*/
.icon_arrow_down{
	background: url(http://a2.jmstatic.com/04418ac031fb4e55/header_newicon1.png) 0px -0px no-repeat;
	width: 6px;
	height: 3px;
	transition: all 0.5s;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
}
li:hover .icon_arrow_down{
	transform: rotate(180deg);
}


