* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.clear_float:after {
	clear: both;
	content: "";
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

/*头部开始*/



/*//头部结束*/


/*母婴、运动、鞋包右侧导航*/
.sport_ad_pic_row4,
.sport_ad_pic_row5{
	display: none;
}


.sport_ad_pic_row3,
.sport_ad_pic_row4,
.sport_ad_pic_row5
{
	padding: 5px 10px;
	width: 250px;
	
}
.sport_ad_pic_row3 img,
.sport_ad_pic_row4 img,
.sport_ad_pic_row5 img
{
	width: 70px;
	height: 35px;
}

.sport_ad_pic_row3 div,
.sport_ad_pic_row4 div,
.sport_ad_pic_row5 div
{
	float: left;
    display: inline;
    margin: 10px 23px;
    position: relative;
    padding: 1px;
    width: 70px;
    height: 35px;
    overflow: hidden;
}
