@charset "utf-8";
@mixin line_or_block($width, $height, $display) {
    display: $display;
    width: $width;
    height: $height;
}
//下下框箭头
%arrowchange {
    @include line_or_block(6px,3px,inline-block);
    background: url("../img/header_newicon1.png") no-repeat;
    position: relative;
    top: -1px;
    transition: all 1s;
}
.arrowtrans {
    @extend %arrowchange;
    transform: rotate(180deg);
}
//清除浮动
%clearfix {
    &:after {
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
    }
}
//字体大小与颜色
@mixin font_something($size, $color) {
    font-size: $size;
    color: $color;
}
* {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
%center {
    margin: 0 auto;
}
a:link {
    text-decoration: none;
    color: #999;
}
a:hover {
    color: #ed155b;
}
//头部
.header_content {
    @include line_or_block(1349px,177px,block);
    //上部
    .header_top {
        background: #f2f2f2;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .header_topcontent {
        @include line_or_block(960px,28px,block);
        @extend %center;
        @extend %clearfix;
        line-height: 28px;
        li {
            list-style: none;
            display: inline-block;
        }
        .hidden_kid {
            position: absolute;
            z-index: 888;
            top: 28px;
            left: -53px;
            background: white;
            height: 168px;
            width: 28px;
            box-shadow: 0 5px 10px -5px;
            text-align: center;
            @include line_or_block(110px,168px,block);
            display: none;
            & a {
                @include line_or_block(110px,28px,block);
            }
        }
        .left {
            @include line_or_block(228px,28px,block);
            float: left;
            color: #6c6c6c;
            li {
                margin-right: 20px;
            }
        }
        .right {
            @include line_or_block(480px,28px,block);
            float: right;
            color: #999;
            li {
                position: relative;
                margin-left: 14px;
            }
        }
        .collection {
            @include line_or_block(12px,11px,inline-block);
            background: url(../img/header_sprites1.png)no-repeat;
            position: relative;
            top: 2px;
        }
        .cell {
            @include line_or_block(10px,14px,inline-block);
            background: url(../img/header_sprites1.png)no-repeat 0 -19px;
            position: relative;
            top: 2px;
        }
        span {
            @include line_or_block(1px,14px,inline-block);
            margin-left: 14px;
        }
    }
    .arrow {
        @extend %arrowchange;
    }
    //头中
    .header_center {
        @include line_or_block(1340px,110px,block);
        .header_centercontent {
            position: relative;
            @include line_or_block(960px,110px,block);
            @extend %center;
            @extend %clearfix;
            .jm_lg {
                float: left;
                position: absolute;
                top: 18px;
                @include line_or_block(165px,85px,block);
                background: url("../img/logo_new_v1.jpg");
            }
            .center_right {
                box-shadow: 0 0 2px rgba(0,0,0,0.3);
                line-height: 34px;
                background: #f8f8f8;
                float: right;
                position: absolute;
                top: 32px;
                right: 0;
                border: 1px solid #e5e5e5;
                @include line_or_block(140px,34px,block);
                .cart_log {
                    float: left;
                    display: inline-block;
                    width: 49px;
                    height: 34px;
                    background: white url(../img/cart.gif)no-repeat 11px 1px;
                }
                .hid {
                    position: absolute;
                    width: 300px;
                    height: 82px;
                    line-height: 82px;
                    top: 31px;
                    left: -159px;
                    text-align: center;
                    font-size: 15px;
                    z-index: 999;
                    display: none;
                    background: white;
                    box-shadow: 1px 2px 2px rgba(0.3,0.3,0,0.3);
                }
            }
        }
    }
    .header_bottom {
        @include line_or_block(1349px,38px,block);
        background: black;
        color: white;
        .header_bottomcontent {
            @include line_or_block(960px,38px,block);
            line-height: 38px;
            @extend %center;
            .tt {
                &:hover {
                    opacity: 0.7;
                    color: white;
                }
                font-size: 14px!important;
                display: inline-block;
                margin: 0 15px;
                s {
                    @extend %arrowchange;
                    left: 2px;
                    top: -2px;
                }
            }
            ul {
                float: right;
                li {
                    list-style: none;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    margin: 0 6px;
                }
                & li:nth-of-type(1) {
                    background: url(../img/z_01new.jpg)no-repeat;
                }
                & li:nth-of-type(2) {
                    background: url(../img/z02.jpg)no-repeat;
                }
                & li:nth-of-type(3) {
                    background: url(../img/z03.jpg)no-repeat;
                }
            }
        }
    }
    .nav_head {
        position: relative;
    }
    .nav_hid {
        @include line_or_block(1060px,308px,none);
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        position: absolute;
        left: -277px;
        background: white;
        z-index: 999;
        @extend %clearfix;
    }
    .nav_left {
        @include line_or_block(254px,288px,inline-block);
        float: left;
        img {
            display: block;
            width: 254;
            height: 135px;
            margin: 12px 8px;
            transition: all;
            &:hover {
                transform: scale(1.01);
            }
        }
    }
    .nav_right {
        margin-left: 15px;
        float: left;
        @include line_or_block(713px,273px,inline-block);
        &>div {
            @include line_or_block(213px,273px,inline-block);
            position: relative;
            h1 {
                text-align: center;
                font-size: 15px !important;
                span {
                    position: relative;
                    top: 12px;
                    @include line_or_block(30px,30px,inline-block);
                    background: url("../img/new_header_icon.png") no-repeat;
                }
            }
            .top {
                border-bottom: 1px dotted rgba(0,0,0,.6);
                border-right: 1px dotted rgba(0,0,0,.6);
                margin: 0 auto;
                color: black;
                position: absolute;
                @include line_or_block(208px,136px,block);
            }
            .bottom {
                margin: 0 auto;
                border-right: 1px dotted rgba(0,0,0,.6);
                top: 137px !important;
                color: black;
                position: absolute;
                @include line_or_block(208px,136px,block);
            }
        }
    }
}
//头部结束
//链接路径
.detail_body {
    @include line_or_block(1349px,18371px,block);
    .ur_cont {
        @include line_or_block(960px,45px,block);
        margin: 0 auto;
        line-height: 45px;
    }
}
//大图放大
.big_img {
    @include line_or_block(960px,664px,block);
    margin: 0 auto;
    .big_left {
        float: left;
        @include line_or_block(375px,664px,inline-block);
        .img_contenner1 {
            @include line_or_block(375px,500px,block);
            position: relative;
            overflow: hidden;
            .mouso {
                display: none;
                position: absolute;
                width: 180px;
                height: 180px;
                background: white;
                opacity: 0.7;
            }
        }
        .smallpic_list {
            width: 350px;
            height: 92px;
            li {
                list-style: none;
                float: left;
                width: 66px;
                height: 90px;
                box-shadow: 0 0 4px rgba(0,0,0,.6);
                img {
                    animation: all 1s;
                    &:hover {
                        transform: scale(1.6);
                    }
                }
            }
        }
    }
    .big_right {
        position: relative;
        float: left;
        @include line_or_block(350px,664px,inline-block);
        padding-left: 35px;
        .hh1 {
            font-weight: 600;
            position: absolute;
            top: 20px;
            height: 25px;
            line-height: 30px;
            font-size: 18px;
            z-index: -1;
        }
        .pp1 {
            font-weight: 300;
            position: absolute;
            top: 91px;
            sup {
                position: relative;
                top: -5px;
                font-size: 20px;
            }
            span {
                font-size: 38px;
            }
        }
        .sp1 {
            position: absolute;
            top: 151px;
            letter-spacing: 1px;
            font-size: 14px;
            color: rgba(0,0,0,0.8);
            display: inline-block;
            height: 45px;
            i {
                margin-right: 5px;
                position: relative;
                top: 4px;
                display: inline-block;
                height: 19px;
                width: 19px;
                background: url(http://a3.jmstatic.com/c511bf0d7170fdda/pop_detail_icon.png)no-repeat;
            }
        }
        .yf {
            color: rgba(0,0,0,0.4);
            width: 350px;
            position: absolute;
            top: 210px;
            height: 50px;
            line-height: 50px;
            border-top: 1px dotted darkgrey;
        }
        .fw {
            color: rgba(0,0,0,0.6);
            width: 350px;
            position: absolute;
            top: 260px;
            height: 50px;
            line-height: 50px;
            border-top: 1px dotted darkgrey;
            span {
                color: rgba(0,0,0,0.4);
            }
        }
        .xh {
            width: 350px;
            position: absolute;
            top: 310px;
            height: 60px;
            line-height: 60px;
            border-top: 1px dotted darkgrey;
            .xhsp {
                color: rgba(0,0,0,0.5);
            }
            .xhchoice {
                position: absolute;
                display: inline-block;
                border: 1px solid red;
                height: 26px;
                width: 144px;
                line-height: 26px;
                left: 56px;
                top: 16px;
                s {
                    display: block;
                    width: 14px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: url(http://a3.jmstatic.com/c511bf0d7170fdda/pop_detail_icon.png)no-repeat -137px 1px;
                }
            }
        }
        .dy {
            position: absolute;
            top: 390px;
            width: 207px;
            height: 48px;
            background: #4a4a4a;
            color: white;
            font-size: 17px;
            line-height: 48px;
            text-align: center;
            s {
                display: inline-block;
                position: relative;
                top: 6px;
                margin-right: 14px;
                width: 14px;
                height: 22px;
                background: url(http://a2.jmstatic.com/9a7e5bff1a64cc22/ie6_alert.png)no-repeat;
            }
        }
        .gmrs {
            position: absolute;
            top: 460px;
            s {
                display: inline-block;
                width: 17px;
                height: 17px;
                background: url(http://a3.jmstatic.com/c511bf0d7170fdda/pop_detail_icon.png)no-repeat -148px -20px;
                margin-right: 8px;
            }
            span {
                color: #f64e85;
            }
        }
        .sm {
            color: rgba(0,0,0,0.7);
            line-height: 19px;
            position: absolute;
            top: 485px;
        }
        .lppz {
            color: #f64e85;
        }
        .sw {
            position: absolute;
            top: 544px;
            height: 22px;
            line-height: 22px;
            width: 166px;
            color: #8b8a8a;
            padding: 0 15px;
            background: url(http://a1.jmstatic.com/84f59e5ac495866c/pop_deal_1.png)0 -385px no-repeat;
        }
        .nodata {
            position: absolute;
            top: 570px;
            line-height: 100px;
            text-align: center;
            width: 350px;
            height: 100px;
            font-size: 12px;
            color: rgba(0,0,0,0.5);
        }
    }
    //hiden big_img
    .big_one {
        width: 375px;
        height: 500px;
        overflow: hidden;
        position: absolute;
        left: 583px;
        display: none;
        img {
            position: absolute;
        }
    }
}
//大body
.picture_detail {
    width: 960px;
    height: 17967px;
    margin: 0 auto;
}
//选项卡导航加特技
.magic_choice {
    @include line_or_block(960px,41px,block);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    line-height: 41px;
    margin: 0 auto;
    position: relative;
    .magic_boy {
        & li {
            margin-left: 5px;
            border-right: 1px dotted darkgray;
            text-align: center;
            list-style: none;
            width: 91px;
            height: 38px;
            float: left;
            & a {
                font-size: 14px!important;
            }
        }
    }
    .magic_hid {
        display: none;
        width: 260px;
        height: 41px;
        margin-left: 11px;
        line-height: 41px;
        transition: all;
        span {
            font-size: 24px;
        }
        s {
            float: right;
            text-decoration: none;
            display: inline-block;
            width: 195px !important;
            text-align: center;
            height: 100%;
            height: 41px;
            background: #4c4b4b;
            color: white;
            font-size: 16px;
        }
    }
}
//产品介绍
.cpjs {
    @extend %cs;
    s {
        @extend %sa;
        background-position: 0 -24px !important;
    }
}
%cs {
    width: 932px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px dotted darkgray;
    line-height: 60px;
    font-size: 22px !important;
}
%sa {
    position: relative;
    top: 3px;
    left: 30px;
    display: inline-block;
    width: 269px;
    height: 21px;
    background: url(../img/tit_icon_1.png)no-repeat;
}
.bulala {
    width: 800px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    margin: 0 auto;
}
.spcs_log {
    margin: 20px 0;
    @extend %cs;
    font-size: 22px !important;
    s {
        @extend %sa;
        background-position: 0 -46px !important;
    }
}
.spcs_detail {
    height: 571px;
}
.desc {
    float: left;
    width: 343px;
    height: 175px;
    padding-left: 100px;
    p {
        font-size: 14px !important;
        line-height: 38px;
    }
}
.pic {
    margin-right: 60px;
    float: right;
}
.spxq {
    width: 932px;
    height: 13586px;
}
.spxq_log {
    @extend %cs;
    s {
        @extend %sa;
        background-position: 0 -68px !important;
    }
}
.titl {
    font-size: 20px;
    color: rgb(227, 108, 9);
    text-align: center;
}
.many_pictures {
    width: 755px;
    height: 1335px;
    margin: 0 auto;
}
.reduce {
    @extend %cs;
    margin-top: 180px !important;
    s {
        @extend %sa;
        background-position: 0 -110px !important;
    }
}
.hs {
    margin-top: 15px;
    color: rgba(0,0,0,.7);
    text-align: center;
    width: 175px;
    height: 25px;
    line-height: 25px;
    background: url(http://a1.jmstatic.com/84f59e5ac495866c/pop_deal_1.png)0 -385px no-repeat;
}
.nodata {
    width: 932px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.pj {
    width: 932px;
    height: 1508px;
}
//评价
.dx {
    margin-top: 18px;
    height: 37px;
    width: 932px;
    line-height: 37px;
    background: #f4f4f4;
    span {
        margin-left: 30px;
        label {
            font-size: 14px !important;
        }
    }
}
.pjnr {
    width: 932px;
    height: 1390px;
    .comments {
        width: 932px;
        height: 130px;
        border-bottom: 1px solid darkgray;
        .use_his {
            width: 932px;
            height: 62px;
            line-height: 62px;
            color: #7e7e7e;
            .user_name {
                float: left;
            }
            s {
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                position: relative;
                top: 6px;
                left: 18px;
            }
            .date {
                float: right;
                margin-right: 20px;
            }
        }
        .coment_words {
            margin-top: -8px;
            overflow: auto;
            width: 932px;
            height: 40px;
        }
        .by_type {
            opacity: 0.5;
        }
    }
}
.fye {
    margin-top: -40px;
    width: 932px;
    height: 40px;
    line-height: 40px;
    .change_page {
        float: right;
        & li {
            list-style: none;
            display: inline-block;
            width: 32px;
            height: 27px;
            line-height: 27px;
            border: 1px solid darkgray;
            text-align: center;
        }
        & li:nth-of-type(6) {
            width: 52px;
        }
    }
}
//针对翻页
.redcolor {
    background: #e42f6b;
}
//咨询
.zix {
    @extend %cs;
    s {
        @extend %sa;
        background-position: 0 -179px !important;
    }
}
.promise {
    margin-top: 30px;
    width: 940px;
    height: 177px;
    a {
        margin-left: 100px;
        display: inline-block;
        width: 124px;
        height: 97px;
        background: url("http://a1.jmstatic.com/9345910149b9eabc/pop_lc.jpg");
    }
    .seven_day {
        background-position: 0 -97px;
    }
    .zp {
        background-position: 0 -194px;
    }
    .hb {
        background-position: 0 -291px;
    }
}
.zwzd {
    width: 960px;
    height: 900px;
    line-height: 28px;
    h2 {
        font-weight: 400;
        font-size: 18px;
        margin: 10px 0;
    }
    p {
        color: #666;
        line-height: 22px;
        font-size: 14px;
    }
}
//问答
.zwzd .question {
    height: 60px !important;
    margin-top: 25px;
    .q1 {
        font-size: 16px !important;
        margin-bottom: 10px;
        s {
            display: inline-block;
            width: 17px;
            height: 17px;
            background: black;
            color: white;
            line-height: 17px;
            text-align: center;
            text-decoration: none;
            font-size: 16px !important;
            margin-right: 16px;
        }
    }
    .a2 {
        font-size: 14px;
        s {
            text-decoration: none;
            display: inline-block;
            width: 17px;
            height: 17px;
            line-height: 17px;
            text-align: center;
            background: #e7245f;
            color: white;
            font-size: 16px !important;
            margin-right: 21px;
        }
    }
}
.rutine {
    height: 65px;
    li {
        list-style: none;
        text-align: center;
        height: 63px;
        width: 96px;
        margin-right: 15px;
        color: white;
        float: left;
        background: #2f2f2f;
    }
}