*{
	margin: 0px;
	padding: 0px;
}
header,section,footer{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: #6C6C6C;
}   
ul{
	list-style: none;
}
ul li{ 
	font-size: 12px;
	color: #6C6C6C;
}
