.top {
	width: 1349px;
	height: 85px;
	background: white;
}

.topa{
	width: 400px;
	height: 40px;
	border: 1px solid white;
	position: absolute;
	padding: 10px;
	top: 19px;
	left: 691px;	
}
.right{
	position: relative;
	width: 350px;
	height: 480px;
	border: 2px solid whitesmoke;
	left: 813px;
	top: 47px;
	
}
.aa {
	margin: 40px 220px;
}

.logo {
	position: absolute;
	left: 185px;
	top: 20px;
}

.bb {
	position: absolute;
	left: 179px;
	top: 143px;
}

.zhang {
	width: 300px;
	height: 43px;
	position: absolute;
	left:24px;
	top: 109px;
}
.zhang2{
	width: 300px;
	height: 43px;
	position: absolute;
	left:24px;
	top: 109px;
}

.tta {
	font-size: 6px;
	width: 300px;
	height: 15px;
	border: none;
	display: none;
	margin-top: 20px;
	background: white;
	position: absolute;
	right: -3px;
	z-index: 999;
	margin-top: 44px;	
}

.zhan input {
	width: 192px;
	height: 17px;
	position: absolute;
	left: 63px;
	top: 122px;
	font-size: 15px;
	border: none;
	outline: none;
	z-index: 999;
}
.zhan2 input{
	width: 192px;
	height: 17px;
	position: absolute;
	left: 63px;
	top: 122px;
	font-size: 15px;
	border: none;
	outline: none;
	z-index: 999;
}

.zhang:active .tta {
	display: block;
}


.mima {
	width: 300px;
	height:43px;
	position: absolute;
	left: 24px;
	top: 182px;
}
.mima2 {
	width: 120px;
	height:43px;
	position: absolute;
	left: 24px;
	top: 182px;
}

.mi input {
	width: 192px;
	height: 17px;
	position: absolute;
	left: 63px;
	top: 195px;
	font-size: 15px;
	border: none;
	outline: none;
	z-index: 999;
}
.mi2 input {
	width: 100px;
	height: 17px;
	position: absolute;
	left: 63px;
	top: 195px;
	font-size: 15px;
	border: none;
	outline: none;
	z-index: 999;
}
.ttb {
	font-size: 6px;
	width: 300px;
	height: 10px;
	border: none;
	display: none;
	margin-top: 44px;
	background: white;
	position: absolute;
	right: 0px;
	z-index: 999;
}
.mima:active .ttb {
	display: block;
}
.mi:active .ttb{
	display: block;
}

.jumei {
	width: 50px;
	height: 22px;
	position: absolute;
	right: 281px;
	top: 27px;
}

.hai {
	width: 80px;
	height: 12px;
	position: absolute;
	right: 95px;
	top: 26px;
}

.third {
	width: 60px;
	height: 12px;
	position: absolute;
	right: 17px;
	top: 30px;
	font-size: 7px;
	color: #ed145b;
}


a:hover .third {

	text-decoration: underline;
}
.four {
	position: relative;
	left: 1079px;
	top: -173px;
	font-size: 7px;
	color: black;
}
a:hover .four {

	text-decoration: underline;
}
.cc{
	width: 180px;
	height: 12px;
	font-size: 12px;
	position: absolute;
	left: 20px;
	top: 80px;
}
.foota{
	padding: 14px 0px 18px;
	line-height: 23px;
	padding-bottom: 80px;
	position: absolute;
	left:380px ;
	top: 630px;
	font-size: 10px;
	text-align: center;
}
.footb{
	width: 82%;
	height: 51px;
	border: 1px solid white;
	position: absolute;
	top: 700px;
	left:364px;
}
.dd{
	font-size: 7px;
	color: black;
	position: relative;
	left: 840px;
	top: -189px;	
}
.ee{
	width: 180px;
	height: 40px;
	position: relative;
	left: 840px;
	top: -180px;
}
.five{
	width: 150px;
	height: 10px;
	font-size: 8px;
	position: relative;
	left: 839px;
	top: -174px;
}
.ff{
	display: none;
	width: 200px;
	height: 45px;
	position: absolute;
	right: 100px;
	top:100px ;
}
.gg{
	position: absolute;
	left:1110px ;
	top: 507px;
	font-size: 8px;
}
.a1{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 840px;
	top: 500px;
}
.a2{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 890px;
	top: 500px;
}
.a3{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 940px;
	top: 500px;
}
.a4{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 990px;
	top: 500px;
}
.a5{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1040px;
	top: 500px;
}
.a6{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 840px;
	top: 550px;
}
.a7{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 890px;
	top: 550px;
}
.a8{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 940px;
	top: 550px;
}
.a9{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 990px;
	top: 550px;
}
.a10{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1040px;
	top: 550px;
}
.s1{
	width: 3px;
	height: 400px;
	position: absolute;
	left: 1167px;
	top: 163px;
}
.s2{
	width: 3px;
	height: 400px;
	position: absolute;
	left: 810px;
	top: 160px;
	z-index: 999;
}